$def with(todos)
$:render.header()

        <div class="box">
            <div class="box todos">
                <h2 class="box">待到场人员</h2>
                <h3>$config.party_notes_more</h3><br>
                    $ sumofcoming = len(todos)
                    $ comedpeople = 0
                    $ moneyedpeople = 0
                <ul>    
                    $for todo in todos:
                        $if todo.finished == 1:
                            $ status = 'class="finished"'
                        $else:
                            $ status = ''
                        <li $:status>
                            $if todo.finished == 0:
                                <doing>$todo.title</doing>
                                &nbsp;
                                <a href="/todo/$todo.id/finish?status=yes">签到</a>,
                            $if todo.finished == 1 and todo.moneyed == 0:
                                <!--
                                <del>$todo.title</del>
                                -->
                                $ comedpeople += 1
                                <camed>$todo.title</camed>
                                &nbsp;
                                <a href="/todo/$todo.id/money?status=yes">交了钱的点这里</a>,
                                <a href="/todo/$todo.id/finish?status=no">重置</a>,
                            $if todo.finished == 1 and todo.moneyed == 1:
                                $ comedpeople += 1
                                $ moneyedpeople += 1
                                <moneyed>$todo.title</moneyed>
                                &nbsp;
                                <a href="/todo/$todo.id/money?status=no">没交钱的同学点我哦</a>,
                                <a href="/todo/$todo.id/finish?status=no">重置</a>,
                            <a href="/todo/$todo.id/edit">修改</a>,
                            <a href="/todo/$todo.id/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        </li>
                </ul>
                <h2 class="box">到达人数：$comedpeople / $sumofcoming</h2>
                <h2 class="box">交钱人数：$moneyedpeople / $sumofcoming</h2>

            </div>

            <div class="box post">
                <h2>新增</h2>
                <form action="/todo/new" method="post" id="post_new">
                    <p><input type="text" name="title" class="long_txt" /></p>
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>

$:render.foot()
